<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!-- PRODUCTION DATABASE SERVER CONNECTION STRINGS -->
  <!--<connectionStrings>
    <add name="KrolerContext" connectionString="data source=87.237.204.173;initial catalog=ELBS_Webkroler;persist security info=True;user id=Jovisha;password=sisharp;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WebCeneADOConn" connectionString="data source=87.237.204.173;initial catalog=ELBS_Webkroler;persist security info=True;user id=Jovisha;password=sisharp" providerName="System.Data.SqlClient" />
    
    <add name="ELBSModelConn" connectionString="data source=87.237.204.173;initial catalog=ELBS_2018;user id=elbraco;password=elbsNK;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ELBS_2018ADOConn" connectionString="data source=87.237.204.173;initial catalog=ELBS_2018;user id=elbraco;password=elbsNK" providerName="System.Data.SqlClient" />
    <add name="WebCene.UI.Properties.Settings.ELBS_2018_ConnString" connectionString="Data Source=87.237.204.173;Initial Catalog=ELBS_2018;Persist Security Info=True;User ID=elbraco;Password=elbsNK" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!-- END PRODUCTION DATABASE SERVER CONNECTION STRINGS -->
  
  
  <!-- DEVELOPER DATABASE SERVER CONNECTION STRINGS -->
  <connectionStrings>
    <add name="KrolerContext" connectionString="data source=(local)\SQLExpress;initial catalog=ELBS_Webkroler;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WebCeneADOConn" connectionString="data source=(local)\SQLExpress;initial catalog=ELBS_Webkroler;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    
    <add name="ELBSModelConn" connectionString="data source=87.237.204.173;initial catalog=ELBS_2018;user id=elbraco;password=elbsNK;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ELBS_2018ADOConn" connectionString="data source=87.237.204.173;initial catalog=ELBS_2018;user id=elbraco;password=elbsNK" providerName="System.Data.SqlClient" />
    <add name="WebCene.UI.Properties.Settings.ELBS_2018_ConnString" connectionString="Data Source=87.237.204.173;Initial Catalog=ELBS_2018;Persist Security Info=True;User ID=elbraco;Password=elbsNK" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- END DEVELOPER DATABASE SERVER CONNECTION STRINGS -->
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>





  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="CTProductsInStockSoap" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <customBinding>
        <binding name="StockWebservicePortBinding">
          <transactionFlow transactionProtocol="WSAtomicTransactionOctober2004" />
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint address="https://partner.pinsoft.com/StockWebservice/StockWebservice"
        binding="customBinding" bindingConfiguration="StockWebservicePortBinding"
        contract="PIN_ServiceReference.StockWebservice" name="StockWebservicePort" />
      <endpoint address="http://www.ct4partners.com/ws/ctproductsinstock.asmx"
        binding="basicHttpBinding" bindingConfiguration="CTProductsInStockSoap"
        contract="CT_ServiceReference.CTProductsInStockSoap" name="CTProductsInStockSoap" />
    </client>
    
  </system.serviceModel>


</configuration>




