<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="WebCeneModel" connectionString="data source=mssql7.mojsite.com,1555;initial catalog=infoekon_webcene;persist security info=True;user id=infoekon_Bane;password=!Stanislav28!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WebCeneADOConn" connectionString="data source=mssql7.mojsite.com,1555;initial catalog=infoekon_webcene;persist security info=True;user id=infoekon_Bane;password=!Stanislav28!" providerName="System.Data.SqlClient" />
    <add name="ELBSModelConn" connectionString="data source=87.237.204.173;initial catalog=ELBS_2017;user id=elbraco;password=elbsNK;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ELBS_2017ADOConn" connectionString="data source=87.237.204.173;initial catalog=ELBS_2017;user id=elbraco;password=elbsNK" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>